@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "MyRetroFont";
  src: url("/fonts/Athletic-Varsity-Regular-BF695fc6a197638.otf") format("truetype");
}

@font-face {
  font-family: "MynormalFont";
  src: url("/fonts/Aegean.otf") format("truetype");
}

.customretro{
  font-family: "MyRetroFont", sans-serif;
}

.customnormal{
  font-family: "MynormalFont", sans-serif;
}